.line-comments textarea {

}

td.line_numbers {
	background-color: #F5F5F5;
	color: #aaa;
	font-size: 80%;
	text-align: center;
	width: 25px;
	cursor: pointer;
}

.line-comments td {
	border-bottom: 1px solid #ddd;
}

td.diff-line {
	border-top: 0;
}

.diff-line-info {
	color: #999;
	background-color: #EAF2F5;
}

.diff-line-new {
	color: #000;
	background-color: #ddffdd;
}

.diff-line-removed {
	color: #000;
	background-color: #ffdddd;
}

.diff-line pre {
	display: block;
	padding: 0;
	margin: 0;
	font-size: inherit;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: none;
}

td.diff-line:hover {
	background-color: #F0E7AF;	
}

tr.line:hover > td.line_numbers {
	background-color: #F0E499;	
	color: black;
}
